<div class="page-width">
    <script src="{{ 'iframeResizer.min.js' | asset_url }}"></script>
    <div>
      <div>
        <div>
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>